Repository DXHeroes/local-mcp-gateway: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --unsafe, biome format --write

Add @toon-format/toon package and implement AI prompt generation in Profiles page
  apps/frontend/package.json
  apps/frontend/src/pages/Profiles.tsx
  apps/frontend/src/utils/promptGenerator.ts
  pnpm-lock.yaml
Due: biome check --write --unsafe, biome format --write

feat: implement profile fetching functionality in dev-https.ts to enhance development experience. Add retry logic for API calls and display available profiles with their details in the console.
  apps/backend/src/dev-https.ts
Due: biome check --write --unsafe, biome format --write

feat: enhance proxy handler to include server status tracking and update Profiles page to display server status. Introduce Badge component for visual representation of server status in the UI.
  apps/backend/src/routes/proxy.ts
  apps/frontend/src/pages/Profiles.tsx
  packages/ui/src/components/badge.tsx
  packages/ui/src/index.ts
Due: biome check --write --unsafe, biome format --write

feat: Introduce automated release management with release-please, consolidate CI/CD workflows, and update package metadata for publishing.
  .github/DOCKER_TAGS.md
  .github/WORKFLOWS.md
  .github/release-please-config.json
  .github/workflows/cd.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  packages/config/package.json
  packages/core/package.json
  packages/custom-mcp-loader/package.json
  packages/database/package.json
  packages/ui/package.json
Due: biome format --write

fix: update test setups and type imports, and add a new `check` script
  apps/backend/__tests__/integration/mcp-servers.test.ts
  apps/backend/__tests__/integration/oauth.test.ts
  apps/backend/__tests__/unit/middleware/debug-logger.test.ts
  apps/backend/__tests__/unit/middleware/error-handler.test.ts
  apps/backend/__tests__/unit/middleware/request-id.test.ts
  apps/backend/__tests__/unit/middleware/validation.test.ts
  apps/backend/__tests__/unit/routes/debug.test.ts
  apps/backend/__tests__/unit/routes/mcp-servers.test.ts
  apps/backend/__tests__/unit/routes/oauth.test.ts
  apps/backend/__tests__/unit/routes/profiles.test.ts
  apps/backend/__tests__/unit/routes/proxy.test.ts
  apps/backend/src/dev-https.ts
  apps/backend/src/routes/mcp-servers.ts
  apps/backend/src/routes/proxy.ts
  apps/frontend/e2e/critical-flows.spec.ts
  apps/frontend/e2e/helpers.ts
  apps/frontend/e2e/profile-mcp-assignment.spec.ts
  apps/frontend/src/__tests__/unit/McpServerForm.test.tsx
  apps/frontend/src/__tests__/unit/McpServersPage.test.tsx
  apps/frontend/src/index.css
  package.json
  packages/config/src/tsdown.ts
  packages/config/src/vitest.ts
  packages/core/__tests__/unit/RemoteSseMcpServer.test.ts
  packages/database/__tests__/unit/DebugLogRepository.test.ts
  packages/database/__tests__/unit/McpServerRepository.test.ts
  packages/database/__tests__/unit/OAuthTokenRepository.test.ts
  packages/database/__tests__/unit/ProfileMcpServerRepository.test.ts
  tsconfig.json
Due: biome check --write --unsafe, biome format --write

ci: decrease coverage threshold from 90% to 80%.
  .github/workflows/ci-cd.yml
Due: none

chore: Add pull request event types to CI/CD workflow trigger.
  .github/workflows/ci-cd.yml
Due: none

ci: enable OIDC authentication for package publishing and remove `NODE_AUTH_TOKEN` environment variable.
  .github/workflows/release-please.yml
Due: none

fix: Integrate UI package styles directly into the frontend, enhance Vite and Turborepo build configurations, and configure the database package as an ES module.
  apps/frontend/postcss.config.js
  apps/frontend/src/index.css
  packages/config/src/vite.ts
  packages/config/tsdown.config.ts
  packages/database/package.json
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/src/styles/globals.css
  turbo.json
Due: biome check --write --unsafe, biome format --write

docs: Add comprehensive XML prompt for MCP tool context, detailing performance degradation, user needs, and architectural solutions for effective AI integration.
  .cursor/plans/compass_artifact_wf-f77e8a84-42dd-4700-b1dd-77cb9aa38627_text_markdown.md
  .cursor/plans/linkedin-prompt-d9f47152.plan.md
Due: biome format --write

docs: Revise AGENTS.md for project overview, setup instructions, and development workflows; add mandatory engineering practices and code quality guidelines.
  .cursor/rules.md
  AGENTS.md
  pnpm-workspace.yaml
Due: biome format --write

chore: Update database seed and create scripts in package.json; add directory existence check for database file paths in database.ts
  package.json
  packages/database/src/database.ts
Due: biome check --write --unsafe, biome format --write

feat: Enhance debugging capabilities by integrating DebugService into McpService for logging requests and responses; update DebugLog model to allow optional profileId and mcpServerId.
  apps/backend/src/modules/debug/debug.service.ts
  apps/backend/src/modules/mcp/mcp.module.ts
  apps/backend/src/modules/mcp/mcp.service.ts
  apps/backend/src/modules/profiles/profiles.controller.ts
  apps/backend/src/modules/profiles/profiles.module.ts
  apps/backend/src/modules/profiles/profiles.service.ts
  apps/backend/src/modules/proxy/proxy.service.ts
  apps/frontend/src/pages/McpServerDetail.tsx
  apps/frontend/src/pages/ProfileEditPage.tsx
  packages/database/prisma/schema.prisma
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogCreateInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogCreateManyInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogCreateManyMcpServerInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogCreateWithoutMcpServerInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogOrderByWithAggregationInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogOrderByWithRelationInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogScalarWhereInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogScalarWhereWithAggregatesInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogUncheckedCreateInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogUncheckedCreateWithoutMcpServerInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogUncheckedUpdateInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogUncheckedUpdateManyInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogUncheckedUpdateManyWithoutMcpServerInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogUncheckedUpdateWithoutMcpServerInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogUpdateInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogUpdateWithoutMcpServerInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogWhereInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/DebugLogWhereUniqueInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/ProfileNullableScalarRelationFilterSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/ProfileUpdateOneWithoutDebugLogsNestedInputSchema.ts
  packages/database/src/generated/zod/inputTypeSchemas/index.ts
  packages/database/src/generated/zod/modelSchema/DebugLogSchema.ts
Due: biome check --write --unsafe, biome format --write

feat: Add updateServerTools endpoint and service method for customizing server tools in profiles; enhance UI badges for better visibility of tool changes.
  apps/backend/src/modules/profiles/profiles.controller.ts
  apps/backend/src/modules/profiles/profiles.service.ts
  apps/frontend/src/components/McpServerToolsCard.tsx
  apps/frontend/src/components/ToolEditCard.tsx
Due: biome check --write --unsafe, biome format --write

feat: Introduce Docker Compose setup for Local MCP Gateway with dedicated configurations for hub and local development; enhance README and quick start documentation for improved user onboarding.
  README.md
  apps/backend/Dockerfile
  apps/frontend/Dockerfile
  docker-compose.hub.yml
  docker-compose.yml
  docs/how-to/docker-quickstart.md
  docs/introduction/quick-start.md
  nginx/docker.conf
Due: biome format --write

feat: Implement default data seeding in PrismaService for initial database setup; update CI/CD workflow to include latest Docker tags for frontend and backend images.
  .github/workflows/ci-cd.yml
  apps/backend/src/modules/database/prisma.service.ts
  apps/frontend/Dockerfile
Due: biome check --write --unsafe, biome format --write

feat: Add gemini-deep-research package with repository details and public publish configuration; update release-please config to include new package.
  .github/release-please-config.json
  mcp-servers/gemini-deep-research/package.json
Due: biome format --write

chore: Update release-please workflow to include provenance and public access flags for package publishing
  .github/workflows/release-please.yml
Due: none

chore: Add NODE_AUTH_TOKEN environment variable to release-please workflow for secure package publishing
  .github/workflows/release-please.yml
Due: none

chore: Update Node.js version to 22 in release-please workflow and add verification step for npm OIDC support
  .github/workflows/release-please.yml
Due: none

chore: Downgrade Node.js version to 20 in release-please workflow and remove npm OIDC verification step
  .github/workflows/release-please.yml
Due: none

fix: fetch tags in checkout for Docker version tagging
  .github/workflows/release-please.yml
Due: none

chore: Comment out test and e2e jobs in CI/CD workflow; add publish-docker-edge job for edge image builds
  .github/workflows/ci-cd.yml
  .github/workflows/release-please.yml
Due: none

ci: Enhance release-please workflow with pre-release and stable NPM publishing steps, updating Node.js version to 22
  .github/workflows/release-please.yml
Due: none

chore: Update CI/CD workflow to separate linting and typechecking jobs, adjust Node.js version to 22, and enhance project structure by reorganizing imports in backend modules
  .github/workflows/ci-cd.yml
  apps/backend/src/app.module.ts
  apps/backend/src/common/filters/all-exceptions.filter.ts
  apps/backend/src/common/interceptors/logging.interceptor.ts
  apps/backend/src/common/pipes/validation.pipe.ts
  apps/backend/src/config/database.config.ts
  apps/backend/src/main.ts
  apps/backend/src/modules/database/prisma.service.ts
  apps/backend/src/modules/debug/debug.controller.ts
  apps/backend/src/modules/mcp/dto/create-mcp-server.dto.ts
  apps/backend/src/modules/mcp/dto/update-mcp-server.dto.ts
  apps/backend/src/modules/mcp/mcp-discovery.service.ts
  apps/backend/src/modules/mcp/mcp-registry.ts
  apps/backend/src/modules/mcp/mcp-seed.service.ts
  apps/backend/src/modules/mcp/mcp.controller.ts
  apps/backend/src/modules/mcp/mcp.module.ts
  apps/backend/src/modules/mcp/mcp.service.ts
  apps/backend/src/modules/oauth/oauth.controller.ts
  apps/backend/src/modules/oauth/oauth.service.ts
  apps/backend/src/modules/profiles/profiles.controller.ts
  apps/backend/src/modules/profiles/profiles.module.ts
  apps/backend/src/modules/profiles/profiles.service.ts
  apps/backend/src/modules/proxy/proxy.controller.ts
  apps/backend/src/modules/proxy/proxy.module.ts
  apps/backend/src/modules/proxy/proxy.service.ts
  apps/frontend/e2e/debug-save-button.spec.ts
  apps/frontend/e2e/pages/ProfileEditPage.ts
  apps/frontend/e2e/profile-tool-customization.spec.ts
  apps/frontend/playwright.config.ts
  apps/frontend/src/components/McpServerForm.tsx
  apps/frontend/src/components/ToolsList.tsx
  apps/frontend/src/pages/McpServers.tsx
  biome.json
  mcp-servers/gemini-deep-research/package.json
  mcp-servers/gemini-deep-research/src/gemini-client.ts
  mcp-servers/gemini-deep-research/src/index.ts
  mcp-servers/gemini-deep-research/src/server.ts
  packages/core/src/abstractions/McpServerFactory.ts
  packages/database/src/database.ts
Due: biome check --write --unsafe, biome format --write

ci: Update condition for Docker image publishing in release-please workflow to ensure proper evaluation of releases_created output
  .github/workflows/release-please.yml
Due: none

chore: Remove typecheck job from CI/CD workflow and adjust build dependencies to only require linting
  .github/workflows/ci-cd.yml
Due: none

ci: Modify release-please workflow to trigger jobs based on event type, ensuring NPM and Docker publishing only occur on specific conditions
  .github/workflows/release-please.yml
Due: none

fix: release mcp deep research
  .release-please-manifest.json
Due: biome format --write

chore: update package versions in release-please manifest to 0.1.3 for config, core, and database, and 0.1.2 for ui
  .release-please-manifest.json
Due: biome format --write

ci: Add support for multi-platform builds in release-please workflow for backend and frontend Docker images
  .github/workflows/release-please.yml
Due: none

ci: Update release-please workflow to trigger NPM and Docker publishing jobs based on PR creation, ensuring correct branch reference is used
  .github/workflows/release-please.yml
Due: none

chore: update package dependencies and configurations across the project
  apps/backend/package.json
  apps/backend/src/modules/database/prisma.service.ts
  apps/frontend/package.json
  package.json
  packages/config/package.json
  packages/core/__tests__/unit/McpServerFactory.test.ts
  packages/core/package.json
  packages/database/package.json
  packages/database/prisma.config.ts
  packages/database/prisma/schema.prisma
  packages/database/src/database.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: biome check --write --unsafe, biome format --write

refactor: update Docker configurations and Prisma setup
  apps/backend/Dockerfile
  apps/backend/docker-entrypoint.sh
  docker-compose.yml
  packages/database/package.json
  packages/database/prisma.config.ts
  packages/database/src/index.ts
  packages/database/src/prisma.config.ts
  pnpm-lock.yaml
Due: biome check --write --unsafe, biome format --write

fix: update Dockerfiles to use Node 22 and enhance database handling
  .gitignore
  apps/backend/Dockerfile
  apps/frontend/Dockerfile
  packages/database/src/database.ts
  packages/database/src/seeds/seed.ts
  turbo.json
Due: biome check --write --unsafe, biome format --write

Path conditions:
  biome check --write --unsafe: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  biome format --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,css,md})
