Repository DXHeroes/local-mcp-gateway: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --unsafe, biome format --write

feat(release): unify package versions with linked-versions plugin
  .github/release-please-config.json
  .release-please-manifest.json
  apps/backend/package.json
  mcp-servers/gemini-deep-research/package.json
  packages/config/package.json
  packages/core/package.json
  packages/database/package.json
  packages/ui/package.json
Due: biome format --write

fix(release): add merge: false to node-workspace plugin
  .github/release-please-config.json
Due: biome format --write

fix(release): configure linked-versions with root entry for unified changelog
  .github/release-please-config.json
  .release-please-manifest.json
  package.json
Due: biome format --write

fix(release): remove node-workspace plugin and add separate-pull-requests false
  .github/release-please-config.json
Due: biome format --write

fix: resolve biome formatting issues in toast and profiles
  apps/frontend/src/pages/Profiles.tsx
  packages/ui/src/components/toast.tsx
Due: biome check --write --unsafe, biome format --write

feat(mcp): add clearToolsCache method to McpServer and its implementations
  packages/core/src/abstractions/McpServer.ts
  packages/core/src/abstractions/RemoteHttpMcpServer.ts
  packages/core/src/abstractions/RemoteSseMcpServer.ts
Due: biome check --write --unsafe, biome format --write

fix(mcp): stop auto-assigning builtin packages to default profile
  mcp-servers/gemini-deep-research/src/index.ts
  mcp-servers/merk/src/index.ts
  mcp-servers/toggl/src/index.ts
Due: biome check --write --unsafe, biome format --write

fix(mcp): fix broken external MCP preset package names
  apps/backend/src/modules/mcp/mcp-seed.service.ts
Due: biome check --write --unsafe, biome format --write

feat(mcp): add Python/uv to Docker image and re-add Fetch MCP preset
  apps/backend/Dockerfile
  apps/backend/src/modules/mcp/mcp-seed.service.ts
Due: biome check --write --unsafe, biome format --write

chore: update dependencies and improve Docker configuration
  .github/workflows/release-please.yml
  apps/backend/Dockerfile
  apps/backend/docker-entrypoint.sh
  packages/database/package.json
  pnpm-lock.yaml
Due: biome format --write

feat(mcp): add Abra Flexi and Fakturoid MCP servers
  mcp-servers/abra-flexi/package.json
  mcp-servers/abra-flexi/src/client.ts
  mcp-servers/abra-flexi/src/index.ts
  mcp-servers/abra-flexi/src/schemas.ts
  mcp-servers/abra-flexi/src/server.ts
  mcp-servers/abra-flexi/tsconfig.json
  mcp-servers/fakturoid/package.json
  mcp-servers/fakturoid/src/client.ts
  mcp-servers/fakturoid/src/index.ts
  mcp-servers/fakturoid/src/schemas.ts
  mcp-servers/fakturoid/src/server.ts
  mcp-servers/fakturoid/tsconfig.json
  pnpm-lock.yaml
Due: biome check --write --unsafe, biome format --write

feat(mcp): register new MCP servers for Fakturoid and Abra Flexi
  .github/release-please-config.json
  .github/workflows/release-please.yml
  .release-please-manifest.json
  mcp-servers/AGENTS.md
Due: biome format --write

feat: implement OrgGate for organization management and enhance Layout with organization selector
  apps/frontend/src/App.tsx
  apps/frontend/src/components/Layout.tsx
Due: biome check --write --unsafe, biome format --write

feat: enhance OAuth integration and add custom headers support for MCP servers
  apps/backend/src/modules/mcp/mcp.service.ts
  apps/backend/src/modules/oauth/oauth.controller.ts
  apps/backend/src/modules/oauth/oauth.service.ts
  apps/backend/src/modules/proxy/proxy.controller.ts
  apps/backend/src/modules/proxy/proxy.service.ts
  apps/frontend/src/components/GatewayConfig.tsx
  apps/frontend/src/components/McpServerForm.tsx
  apps/frontend/src/config/api.ts
  apps/frontend/src/pages/McpServerDetail.tsx
  apps/frontend/src/pages/McpServers.tsx
  apps/frontend/src/pages/Profiles.tsx
  packages/core/src/abstractions/RemoteHttpMcpServer.ts
  packages/core/src/abstractions/RemoteSseMcpServer.ts
  packages/core/src/types/mcp.ts
Due: biome check --write --unsafe, biome format --write

chore: update database port and enhance migration handling
  apps/backend/docker-entrypoint.sh
  apps/frontend/nginx.conf
  apps/frontend/src/components/McpServerForm.tsx
  docker-compose.yml
Due: biome check --write --unsafe, biome format --write

fix: update Nginx configuration to use $http_host for Host header
  nginx/docker.conf
Due: none

feat(auth): implement MCP OAuth guard and enhance authentication flow
  .env.example
  .gitignore
  apps/backend/src/__tests__/integration/mcp-proxy-auth-http.test.ts
  apps/backend/src/__tests__/integration/oauth-authorize-callback.test.ts
  apps/backend/src/__tests__/integration/proxy-auth.test.ts
  apps/backend/src/__tests__/unit/auth.guard.test.ts
  apps/backend/src/common/filters/all-exceptions.filter.ts
  apps/backend/src/config/app.config.ts
  apps/backend/src/main.ts
  apps/backend/src/modules/auth/auth.config.ts
  apps/backend/src/modules/auth/auth.module.ts
  apps/backend/src/modules/auth/mcp-oauth.guard.ts
  apps/backend/src/modules/auth/mcp-oauth.utils.ts
  apps/backend/src/modules/oauth/oauth.service.ts
  apps/backend/src/modules/proxy/proxy.controller.ts
  apps/backend/vitest.config.ts
  apps/frontend/e2e/auth-redirect.spec.ts
  apps/frontend/e2e/auth.spec.ts
  apps/frontend/e2e/pages/DebugLogsPage.ts
  apps/frontend/e2e/pages/McpServersPage.ts
  apps/frontend/e2e/pages/ProfileEditPage.ts
  apps/frontend/e2e/pages/ProfilesPage.ts
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/__tests__/unit/App.test.tsx
  apps/frontend/src/__tests__/unit/LoginPage.test.tsx
  apps/frontend/src/__tests__/unit/McpServersPage.test.tsx
  apps/frontend/src/lib/mcp-auth.ts
  apps/frontend/src/pages/Login.tsx
  apps/frontend/src/test/handlers.ts
  apps/frontend/vite.config.ts
  docker-compose.hub.yml
  docker-compose.yml
  playwright.config.ts
  playwright.global-setup.ts
  pnpm-lock.yaml
Due: biome check --write --unsafe, biome format --write

refactor(auth): streamline MCP OAuth guard and enhance configuration
  .dockerignore
  .env.example
  apps/backend/src/__tests__/integration/mcp-proxy-auth-http.test.ts
  apps/backend/src/__tests__/integration/proxy-auth.test.ts
  apps/backend/src/config/app.config.ts
  apps/backend/src/main.ts
  apps/backend/src/modules/auth/mcp-oauth.guard.ts
  apps/backend/src/modules/proxy/proxy.controller.ts
  docker-compose.yml
Due: biome check --write --unsafe, biome format --write

refactor(database): update OAuth models and migrations for improved schema
  apps/backend/src/modules/auth/auth.service.ts
  packages/database/prisma/migrations/20260312112510_add_updated_at_to_oauth_application/migration.sql
  packages/database/prisma/migrations/20260312130000_fix_oauth_access_token_schema/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/src/generated/zod/inputTypeSchemas/index.ts
  packages/database/src/generated/zod/modelSchema/index.ts
  packages/database/src/generated/zod/outputTypeSchemas/index.ts
Due: biome check --write --unsafe, biome format --write

feat(docker): add docker-compose configuration for local MCP Gateway
  docker-compose.pub.yml
Due: none

chore(docker): update environment variables in docker-compose configuration
  docker-compose.pub.yml
Due: none

chore(docker): update docker-compose configuration to include networks
  docker-compose.pub.yml
Due: none

fix(docker): make frontend API calls relative for Coolify reverse proxy
  apps/frontend/Dockerfile
  nginx/docker.conf
Due: none

chore(docker): update docker-compose configuration to build images from local Dockerfiles
  docker-compose.pub.yml
Due: none

feat(docker): enhance frontend configuration for production and local development
  apps/frontend/Dockerfile
  docker-compose.pub.yml
  docker-compose.yml
  nginx/standalone.conf
Due: none

refactor(docker): improve NGINX configuration handling in Dockerfile
  apps/frontend/Dockerfile
  nginx/docker.conf
  nginx/standalone.conf
Due: none

feat(config): add runtime API URL configuration and update frontend components
  apps/frontend/Dockerfile
  apps/frontend/docker-entrypoint.sh
  apps/frontend/index.html
  apps/frontend/public/app-config.js
  apps/frontend/src/App.tsx
  apps/frontend/src/__tests__/unit/api-config.test.ts
  apps/frontend/src/components/Layout.tsx
  apps/frontend/src/components/ShareModal.tsx
  apps/frontend/src/config/api.ts
  apps/frontend/src/pages/Organizations.tsx
  apps/frontend/src/vite-env.d.ts
Due: biome check --write --unsafe, biome format --write

feat(tests): enhance E2E testing setup and add API integration tests
  apps/frontend/e2e/.auth/user.json
  apps/frontend/e2e/api-integration.spec.ts
  apps/frontend/e2e/auth-redirect.spec.ts
  apps/frontend/e2e/auth.setup.ts
  apps/frontend/e2e/auth.spec.ts
  apps/frontend/e2e/complete-profile-tool-journey.spec.ts
  apps/frontend/e2e/complete-workflow.spec.ts
  apps/frontend/e2e/critical-flows.spec.ts
  apps/frontend/e2e/custom-mcp.spec.ts
  apps/frontend/e2e/data-integrity.spec.ts
  apps/frontend/e2e/debug-logs.spec.ts
  apps/frontend/e2e/debug-save-button.spec.ts
  apps/frontend/e2e/edge-cases.spec.ts
  apps/frontend/e2e/form-validation.spec.ts
  apps/frontend/e2e/helpers.ts
  apps/frontend/e2e/mcp-server-detail.spec.ts
  apps/frontend/e2e/mcp-server-variants.spec.ts
  apps/frontend/e2e/mcp-servers.spec.ts
  apps/frontend/e2e/network-errors.spec.ts
  apps/frontend/e2e/oauth-flow.spec.ts
  apps/frontend/e2e/onboarding.spec.ts
  apps/frontend/e2e/organizations.spec.ts
  apps/frontend/e2e/profile-edit.spec.ts
  apps/frontend/e2e/profile-mcp-assignment.spec.ts
  apps/frontend/e2e/profile-tool-customization.spec.ts
  apps/frontend/e2e/profile-tool-customization.spec.ts.backup
  apps/frontend/e2e/profiles.spec.ts
  apps/frontend/e2e/sharing.spec.ts
  apps/frontend/e2e/smoke.spec.ts
  apps/frontend/playwright.config.ts
Due: biome check --write --unsafe, biome format --write

feat(api): implement apiFetch utility and refactor API calls across components
  apps/frontend/src/__tests__/unit/api-fetch.test.ts
  apps/frontend/src/components/McpPresetGallery.tsx
  apps/frontend/src/components/ProfileForm.tsx
  apps/frontend/src/components/ShareModal.tsx
  apps/frontend/src/lib/api-fetch.ts
  apps/frontend/src/lib/auth-client.ts
  apps/frontend/src/pages/DebugLogs.tsx
  apps/frontend/src/pages/Login.tsx
  apps/frontend/src/pages/McpServerDetail.tsx
  apps/frontend/src/pages/McpServers.tsx
  apps/frontend/src/pages/ProfileEditPage.tsx
  apps/frontend/src/pages/Profiles.tsx
Due: biome check --write --unsafe, biome format --write

feat(auth): enhance MCP OAuth guard to support session cookies
  apps/backend/src/__tests__/integration/mcp-proxy-auth-http.test.ts
  apps/backend/src/__tests__/integration/proxy-auth.test.ts
  apps/backend/src/modules/auth/mcp-oauth.guard.ts
Due: biome check --write --unsafe, biome format --write

feat(dependencies): add new MCP packages to backend dependencies
  apps/backend/package.json
  pnpm-lock.yaml
Due: biome format --write

feat(auth): enable toggle for email and password authentication
  .env.example
  apps/backend/src/modules/auth/auth.config.ts
  apps/backend/src/modules/health/health.controller.ts
  apps/frontend/src/pages/Login.tsx
  playwright.global-setup.ts
Due: biome check --write --unsafe, biome format --write

feat(seo): enhance SEO and session handling across frontend and backend
  apps/backend/src/main.ts
  apps/frontend/index.html
  apps/frontend/public/robots.txt
  apps/frontend/src/__tests__/unit/LoginPage.test.tsx
  apps/frontend/src/pages/Login.tsx
  apps/frontend/src/pages/Profiles.tsx
Due: biome check --write --unsafe, biome format --write

feat(organization-domains): add auto-join domain management for organizations
  apps/backend/src/app.module.ts
  apps/backend/src/modules/auth/auth.config.ts
  apps/backend/src/modules/mcp/mcp.controller.ts
  apps/backend/src/modules/mcp/mcp.service.ts
  apps/backend/src/modules/organization-domains/organization-domains.controller.ts
  apps/backend/src/modules/organization-domains/organization-domains.module.ts
  apps/backend/src/modules/organization-domains/organization-domains.service.ts
  apps/backend/src/modules/proxy/proxy.service.ts
  apps/backend/src/modules/sharing/sharing.controller.ts
  apps/backend/src/modules/sharing/sharing.service.ts
  apps/frontend/src/components/ShareModal.tsx
  apps/frontend/src/config/api.ts
  apps/frontend/src/hooks/useSharingSummary.ts
  apps/frontend/src/lib/auth-client.ts
  apps/frontend/src/pages/McpServers.tsx
  apps/frontend/src/pages/Organizations.tsx
  apps/frontend/src/pages/Profiles.tsx
  mcp-servers/abra-flexi/src/client.ts
  mcp-servers/abra-flexi/src/index.ts
  packages/database/prisma/migrations/20260316090459_add_organization_domains/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/src/generated/zod/inputTypeSchemas/index.ts
  packages/database/src/generated/zod/modelSchema/index.ts
  packages/database/src/generated/zod/outputTypeSchemas/index.ts
Due: biome check --write --unsafe, biome format --write

refactor(api): remove getAuthBaseUrl and update auth client to use getFullMcpEndpointUrl
  apps/frontend/src/config/api.ts
  apps/frontend/src/lib/auth-client.ts
Due: biome check --write --unsafe, biome format --write

feat(organization-domains): implement blacklisted domains for auto-join prevention
  apps/backend/src/modules/organization-domains/blacklisted-domains.ts
  apps/backend/src/modules/organization-domains/organization-domains.service.ts
  apps/frontend/src/pages/Organizations.tsx
Due: biome check --write --unsafe, biome format --write

feat(auth): improve user organization handling during signup
  apps/backend/src/modules/auth/auth.config.ts
  apps/frontend/src/App.tsx
  apps/frontend/src/__tests__/unit/App.test.tsx
Due: biome check --write --unsafe, biome format --write

Path conditions:
  biome check --write --unsafe: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  biome format --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,css,md})
