Repository DXHeroes/local-mcp-gateway: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --unsafe, biome format --write

ci: remove specific pnpm version from CI/CD workflow for flexibility
  .github/workflows/ci-cd.yml
Due: none

refactor: improve code readability and structure across multiple files
  apps/backend/src/modules/mcp/mcp-seed.service.ts
  apps/backend/src/modules/proxy/proxy.service.ts
  apps/frontend/e2e/debug-save-button.spec.ts
  apps/frontend/e2e/pages/ProfileEditPage.ts
  apps/frontend/src/components/McpServerForm.tsx
  apps/frontend/src/config/api.ts
  apps/frontend/src/pages/ProfileEditPage.tsx
  packages/core/__tests__/unit/McpServerFactory.test.ts
  packages/core/src/abstractions/McpServerFactory.ts
Due: biome check --write --unsafe, biome format --write

chore: update release-please configuration and CI workflow
  .github/release-please-config.json
  .github/workflows/release-please.yml
Due: biome format --write

chore: update zod dependency version in package.json and pnpm-lock.yaml
  mcp-servers/gemini-deep-research/package.json
  pnpm-lock.yaml
Due: biome format --write

docs: update project documentation and configuration
  AGENTS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
  apps/AGENTS.md
  apps/backend/package.json
  apps/frontend/package.json
  docs/ENVIRONMENT_SETUP.md
  docs/IMPLEMENTATION_STATUS.md
  docs/MANUAL_TESTING_RESULTS.md
  docs/MIGRATION_ENV.md
  docs/README.md
  mcp-servers/gemini-deep-research/package.json
  package.json
  packages/config/package.json
  packages/core/package.json
  packages/database/package.json
  packages/ui/package.json
Due: biome format --write

fix: add GET handler for MCP endpoint to return usage info instead of 404
  apps/backend/src/modules/proxy/proxy.controller.ts
Due: biome check --write --unsafe, biome format --write

chore: update .gitignore and add VSCode settings
  .gitignore
  .vscode/settings.json
Due: biome format --write

fix: update API URL handling and configure Nginx for backend proxy
  apps/frontend/src/config/api.ts
  nginx/docker.conf
Due: biome check --write --unsafe, biome format --write

chore: add apps/backend and apps/frontend to release-please
  .github/release-please-config.json
  .release-please-manifest.json
Due: biome format --write

chore: rename apps to scoped package names
  apps/backend/package.json
  apps/frontend/package.json
Due: biome format --write

fix: update package names in Dockerfiles and add apps to npm publish
  .github/workflows/release-please.yml
  apps/backend/Dockerfile
  apps/frontend/Dockerfile
Due: none

fix: simplify tool inclusion logic in ProxyService
  apps/backend/src/modules/proxy/proxy.service.ts
Due: biome check --write --unsafe, biome format --write

fix: enhance API key configuration handling in McpServerForm
  apps/frontend/src/components/McpServerForm.tsx
Due: biome check --write --unsafe, biome format --write

feat: add logging configuration and NGINX settings
  apps/backend/src/main.ts
  apps/frontend/Dockerfile
  docker-compose.hub.yml
  docker-compose.yml
  nginx/nginx.conf
Due: biome check --write --unsafe, biome format --write

docs: add dashboard preview image
  docs/images/dashboard-preview.png
Due: none

docs: update README to reflect new Middleware Layer functionality
  README.md
  docs/images/cursor-mcp.png
Due: biome format --write

docs: enhance README with additional configuration steps and images
  README.md
  docs/images/dashboard-preview.png
Due: biome format --write

fix: update server ID handling in ProfileForm and ProfilesPage
  apps/frontend/src/components/ProfileForm.tsx
  apps/frontend/src/pages/Profiles.tsx
Due: biome check --write --unsafe, biome format --write

feat: update CORS and API endpoint configurations
  .github/workflows/release-please.yml
  README.md
  apps/frontend/src/config/api.ts
  apps/frontend/src/pages/Profiles.tsx
  docker-compose.hub.yml
  docker-compose.yml
Due: biome check --write --unsafe, biome format --write

docs: update README with Docker command enhancement
  README.md
Due: biome format --write

feat: convert AI prompts to tabbed interface and remove input_schema
  apps/frontend/src/components/ProfileConfigCard.tsx
  apps/frontend/src/pages/ProfileEditPage.tsx
  apps/frontend/src/pages/Profiles.tsx
  apps/frontend/src/utils/promptGenerator.ts
Due: biome check --write --unsafe, biome format --write

fix: update tests to match new UI components
  apps/frontend/src/__tests__/unit/App.test.tsx
  apps/frontend/src/__tests__/unit/McpServersPage.test.tsx
  apps/frontend/src/__tests__/unit/ProfileForm.test.tsx
  apps/frontend/src/__tests__/unit/ProfilesPage.test.tsx
  apps/frontend/src/pages/Profiles.tsx
Due: biome check --write --unsafe, biome format --write

style: add Tailwind prose classes to Docs page
  apps/frontend/src/pages/Docs.tsx
Due: biome check --write --unsafe, biome format --write

Revert "style: add Tailwind prose classes to Docs page"
  apps/frontend/src/pages/Docs.tsx
Due: biome check --write --unsafe, biome format --write

feat: allow profile name editing with URL change warning
  apps/frontend/src/__tests__/unit/ProfileForm.test.tsx
  apps/frontend/src/components/ProfileForm.tsx
Due: biome check --write --unsafe, biome format --write

chore: update dashboard preview image
  docs/images/dashboard-preview.png
Due: none

docs: update README to include default gateway API usage instructions
  README.md
Due: biome format --write

docs: update dashboard preview image in README
  README.md
  docs/images/dashboard-preview-v2.png
Due: biome format --write

docs: add mpc_gateway configuration to README
  README.md
Due: biome format --write

docs: enhance MCP server configuration section in README
  README.md
Due: biome format --write

docs: clarify default gateway API endpoint usage in README
  README.md
Due: biome format --write

docs: format curl command in README for better readability
  README.md
Due: biome format --write

docs: update README to consolidate and enhance Docker quick start instructions
  README.md
Due: biome format --write

feat(ui): add toast color variants with consistent styling
  apps/frontend/src/components/GatewayConfig.tsx
  apps/frontend/src/components/McpServerToolsCard.tsx
  apps/frontend/src/components/ProfileConfigCard.tsx
  apps/frontend/src/components/ToolsList.tsx
  apps/frontend/src/pages/ProfileEditPage.tsx
  apps/frontend/src/pages/Profiles.tsx
  packages/ui/src/components/toast.tsx
Due: biome check --write --unsafe, biome format --write

feat(profiles): allow deletion of default profile without re-seeding
  apps/backend/src/modules/mcp/mcp-seed.service.ts
  apps/backend/src/modules/profiles/profiles.service.ts
  apps/backend/src/modules/settings/settings.constants.ts
Due: biome check --write --unsafe, biome format --write

Path conditions:
  biome check --write --unsafe: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  biome format --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,css,md})
